@import 'colors';

.title { 
  font-size: 2rem;
  box-shadow: $shadow;
  border-radius: 8px;
  padding: 24px 48px;
  background-color: $shade2;
}

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 48px 0px;
  transition: height, top;
}

.descr {
  font-size: 1.5rem;
  padding: 24px 0px;
}

.connect {
  width: 250px;
  text-align: center;
  margin-top: 32px;
}